html,
body,
#root {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}
button {
  cursor: pointer;
  border: 1px solid #ddd;
  background: #fff;
  padding: 6px 10px;
  border-radius: 6px;
}
input,
textarea {
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
}
